.root {
  -fx-font-size: 12pt;
  -fx-font-family: "Times New Roman";
  -fx-background: #cce0ff;
}

#gameDisplay{
  -fx-pref-height: 70px;
  -fx-border-width: 2px;
  -fx-padding: 10px;
  -fx-alignment: center-left;
  -fx-spacing: 50px;
  -fx-border-color: #737373;
  -fx-background-color: #b3b3b3;
}

#frameCounterID{
  -fx-alignment: left;
}

#controlPanel{
  -fx-pref-height: 120px;
  -fx-padding: 10px;
  -fx-border-width: 2px;
  -fx-border-color: #737373;
  -fx-background-color: #b3b3b3;
  -fx-alignment: center;
  -fx-vgap: 10px;
  -fx-hgap: 10px;
}
.button {
  -fx-pref-width: 185px;
  -fx-pref-height: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #000000;
  -fx-border-radius: 5px;
  -fx-text-fill: #000000;
  -fx-background-color: #a6a6a6;
  -fx-background-radius: 5px;
}

#makeNewSimulationButton{
  -fx-pref-width: 200px;
}

.button:hover {
  -fx-background-color: #3a3a3a;
}



